.banner {
  text-align: center;
  height: 400px;
  /* background-color: cornflowerblue; */
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.rotate330 {
  transform: rotate(330deg);
  height: 200px;
}

.rotate30 {
  transform: rotate(30deg);
  height: 200px;
}